@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

:root {
    --bg-colour: rgb(157, 224, 173);
    --accent-colour: rgb(85, 130, 102);
    --border-colour: rgb(93, 88, 75);
  }

body {
    background-color: var(--bg-colour);
    color: var(--accent-colour);
    border-left: 25pt;
    border-right: 25pt;
    border-top: 0pt;
    border-bottom: 0pt;
    border-color: var(--border-colour);
    border-style: solid;
    font-family: 'Open Sans',Arial,sans-serif;
}

h1 {
    text-align: center;
    font-size: 48pt;
}

h2 {
    text-align: center;
    font-weight: 600;
    font-size: 20pt;
}

h3 {
    position: relative;
    left: 25pt;
    font-size: 17pt;
}

img {
    vertical-align: middle;
}

#app {
    position: absolute;
    width: 145pt;
    left: 60pt;
}

ul {
    position: relative;
    left: 190pt;
    font-size: 150%;
    word-wrap: break-word;
    padding-right: 190pt;
}

.hiddenlink {
    color: var(--accent-colour);
    text-decoration-line: none;
}

h4 {
  position: relative;
  left: 25pt;
}

a {
  color: var(--border-colour);
}